
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-color: #ffffff00;
    height: 100vh;
    width: 100%;
}
.homePage{
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(150px,150px) 1fr;
    background-color: #1d1d1d;
}
.menu{


    background-color: #1d1d1d;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 60% 1fr;
    row-gap: 2px;
}
.menuChild{
    width: 100%;

}
.navigator{
    width: 100%;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 1fr;
    row-gap: 2px;
}
.logo,.bottom{
width: 100%;
background-color: #2d2d2d;
}
.navChild{
    background-color: #2d2d2d;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    padding-top: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #1d1d1d;
transition: 0.25s ease-in-out;
}
.navChild:hover{
    color: #08fdd8;
    /* background-color: #ffffff; */

    border-color: #08fdd8;

}
::-webkit-scrollbar {
    display: none;
  }
.NamePic{
    height: 100vh;

    scroll-snap-align: Start;
    display: grid;
    grid-template-rows: 1fr 100px 100px 35px 1fr;
    row-gap: 2px;
    justify-content: start;
    padding-right: 100px;
    position: relative;
    padding-left: 5vh;
}
.i{
    color : #EE1D52;
    /* left: 116vh;
    bottom: 37vh; */
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    vertical-align: bottom;

}
.Name{

    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
.greet{

    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#sub{
    font-size: 40px;
    color: #08fdd8;
}

.nameText, .nameText2, .hi{
    display: inline-block;
    font-family:  'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;

    vertical-align: bottom;
    z-index: 500;

}
#tx5{
    position: relative;
    margin-right: 5px;
}
#tx4{
    position: absolute;
    top:0;
    left: 5px;
    z-index: 1;
}
.nameText, .hi{
    color : #ffffff;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
}


#tx5{
    color: #08fdd8;

}


@keyframes bounce {
    /* 25% {transform: scaleX(1.05) scaleY(0.97);}
    50% {transform: scaleX(1.2) scaleY(0.88);}
    70% {transform: scaleX(1.075) scaleY(0.94);}
    90% {transform: scaleX(1.2) scaleY(0.88);}
    100% {transform: scaleX(1.2) scaleY(0.88);} */


    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

}
.nameText.hover {
    display: inline-block;

    animation: bounce 1s ease-in-out  ;
    animation-fill-mode:both;
    transform: scaleX(1.2) scaleY(0.88);

}
.hi.hover{
    display: inline-block;
    animation: bounce 1s ease-in-out  ;
    animation-fill-mode:both;
    transform: scaleX(1.2) scaleY(0.88);
}


.nameText:hover{
    color: #08fdd8;
}

.hi:hover{
    color: #08fdd8;
}

#sub:hover{
    color: #EE1D52;
}

