html{
    overflow: hidden;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow: hidden;
    scrollbar-color: #ffffff00;
    height: 100vh;
    width: 100%;
}
.homePage{
    width: 100vw;
    display: grid;
    /* grid-template-columns: minmax(150px,150px) 1fr; */
    grid-template-columns: 150px 1fr;
    background-color: #1d1d1d;
}
.menu{

    position: fixed;
    background-color: #1d1d1d;
    height: 100vh;
    width: 150px;
    display: grid;
    grid-template-rows: 25% 1fr;
    row-gap: 2px;
}
.menuChild{
    width: 100%;

}
.navigator{
    width: 100%;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 1fr;
    row-gap: 2px;
}
.logo,.bottom{
width: 100%;
background-color: #2d2d2d;
}
.homeMain{
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: #1d1d1d;

    grid-template-columns: 610px 1fr;
}
.homeLeft img{
    height: 50%;
    object-fit: cover;
   padding-left: 200px;
   padding-top: 150px;

}

.homeButton img{
    width: 80%;
    object-fit: cover;
    content: url('redHair.png');
    transition:  .2s ease-in-out;

}
.homeButton img:hover{
    width: 85%;
    content: url('blueHair.png');
        cursor: pointer;

}
.sideLink{
    height: 100vh;
}
.navChild, .navChildFooter{
    background-color: #2d2d2d;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    padding-top: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #1d1d1d;
transition: 0.5s ease-in-out;
}

.navChildFooter{
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
}

.logo{
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    padding-top: 17px;
}

.navChild:hover{
    color: #08fdd8;
    background-color: #2d2d2d;
    cursor: pointer;
    border-color: #08fdd8;

}
::-webkit-scrollbar {
    display: none;
}


.SL{
    padding-left: 5vh;
    color:#ffffff;
    font-size:40px ;
}
.about , .publication {
    /* background-image: url("h1mod.png");
    background-repeat: no-repeat;
    background-size: contain; */
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.background{
    display: grid;
    grid-template-columns: 9fr 2fr;
    height: 100vh;
}
.backgroundLeft{
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.backgroundTitle{
     font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    color:#08fdd8;
    margin-top: 5vh;
    margin-bottom: 30px;
}
.backgroundDetails{
    padding-bottom: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}
.segments{

    /* background-color: #EE1D52; */
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    transition: .35s;
}
/* }
.segments:hover{
    grid-template-columns: 6fr 1fr 2fr;

} */
.segmentsLeft{
    /* border-radius: 100px 0px 0px 20px; */
    background-color: #08fdd8;
    transition: .35s;
}
.jobIcon , .internIcon, .studyIcon{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
.internIcon{
    padding-right: 5px;

}
.internIcon img{
    width: 90%;
}
/*
.segments:hover .segmentsLeft{
    background-color: #00ff66;
    border-radius: 100px 100px 100px 100px;

} */
.segmentsCentre{
    background-color: #2d2d2d;
 border-radius: 0px 0px 0px 0px;
 display: grid;
 grid-template-rows: 3fr 2fr;
    transition:.35s;
    padding-left: 10px;
    align-items: center;
    border: 2px solid #08fdd8;
}
.segmentsText{
    padding-top: 5px;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
    color: whitesmoke;
}
.subSegment{
    font-size: 25px;
    color: rgb(182, 182, 182);
}
.year{
    text-align: center;
     font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    color: #2d2d2d;
}
.study .segmentsLeft, .study .segmentsRight{
    background-color: #EE1D52;
}
.study .segmentsCentre{
 border: 2px solid #EE1D52;
}
.training .segmentsLeft, .training .segmentsRight{
    background-color: yellowgreen;
}
.training .segmentsCentre{
    border: 2px solid yellowgreen;
}
/*
.segments:hover .segmentsCentre{
    background-color: #00ff66;
    border-radius: 50px 50px 50px 50px;

} */
.segmentsRight{
    background-color:#08fdd8;
    /* border-radius: 0px 20px 100px 0px; */
    transition: .35s;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}
/* .segments:hover .segmentsRight{
    background-color: #00ff66;
    border-radius: 100px 100px 100px 100px;

} */
.skills{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.skillsdetails
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr;
    row-gap: 10px;


}


.sname{
    margin-bottom: 20px;
    font-size: 20px;
}
.level {
    width: 90%;
    height: 4px;
    background-color: #2d2d2d;
    position: relative;
    margin-top: 10px;
}

.level::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}

#html .level::before{
    width: 90%;
    background-color: #EE1D52;
}

#css .level::before{
    width: 85%;
    background-color: #08fdd8;
}

#js .level::before{
    width: 95%;
    background-color: #fd08f9;
}
#c .level::before{
    width: 88%;
    background-color: #EE1D52;
}
#unity .level::before{
    width: 90%;
    background-color: yellowgreen;
}
#ai .level::before{
    width: 85%;
    background-color: #fd08f9;
}
#b3d .level::before{
    width: 78%;
    background-color: #08fdd8;
}

.aboutRight img, .skillsRight img {
    width: 70%;
    object-fit: cover;
    padding-left: 80px;
    padding-top: 260px;
}

.publicationRight img{
    width: 70%;
    object-fit: cover;
    padding-left: 80px;
    padding-top: 230px;
}
.cr2 {
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;
}
.cr2 img{
height: 70%;
transition: 0.2s;
}
.cr2 img:hover{
     content: url('mailHover.png');
     height: 75%;
  cursor: pointer;
}
.mailFront{

    text-align: center;
    position: absolute;
    color: #1d1d1d;
    font-size: 20px;
    bottom: 50px;
    left: 50%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
.frontText{
}
.writing{

    left:10;
    font-family: 'Nothing You Could Do';
    font-size: 24px;
    color: #3d3d3d;
    font-weight: 400;
}
p {
    display: block;
    margin: 0;
    padding: 0;
}
.aboutHeading  {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    color:#08fdd8;
    margin-top: 25vh;
    margin-bottom: 30px;
}

.publicationHeading  {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    color:#08fdd8;
    margin-top: 5vh;
    margin-bottom: 20px;
}

.publicationSubHeading{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 50px;
    color: yellowgreen;
    margin-bottom: 10px;
}

.playStoreLink{
    color: #fd08f9;
    cursor: pointer;
    transition: .5s;
}

.playStoreLink:hover{
    color: #EE1D52;
    cursor: pointer;
}

.skillsHeading{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    color:#08fdd8;
    margin-top: 5vh;
    margin-bottom: 30px;
}
.projectsHeading{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    color:#08fdd8;
    margin-top: 5vh;
    margin-bottom: 30px;
}


.contactHeading{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    color:#08fdd8;
    margin-top: 5vh;
    margin-bottom: 30px;
}

.details, .publicationDetails{

    font-size: 35px;
    text-align: justify;
}
.skillsdetails{
    font-size: 35px;
    text-align: justify;
}
.contactDetails
{
    align-items: center;
    justify-content: left;
    font-size: 70px;
    text-align: justify;
    color: whitesmoke;
}
.mailDetails{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px 150px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: whitesmoke;

}
.cr1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    text-align: center;
    color: #08fdd8;
    font-size: 50px;
}

.cr3{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    vertical-align: top;
    font-size: 40px;
    color: #08fdd8;
    /* margin-bottom: 100px; */
}
.end{
    padding-top: 20px;
    font-size: 30px;
}
.NamePic{

    height: 100vh;
    scroll-snap-align: Start;
    display: grid;
    grid-template-rows: 1fr 100px 100px 35px 1fr;
    row-gap: 2px;
    justify-content: start;
    padding-right: 100px;
    position: relative;
    padding-left: 5vh;
}
.i{
    color : #EE1D52;
    /* left: 116vh;
    bottom: 37vh; */
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;
    vertical-align: bottom;

}

.Name{

    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
.greet{

    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#sub{
    font-size: 40px;
    color: #08fdd8;
}

.nameText, .nameText2, .hi{
    display: inline-block;
    font-family:  'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 100px;

    vertical-align: bottom;
    z-index: 500;

}
#tx5{
    position: relative;
    margin-right: 5px;
}
#tx4{
    position: absolute;
    top:0;
    left: 5px;
    z-index: 1;
}
.nameText, .hi{
    color : #ffffff;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
}


#tx5{
    color: #08fdd8;

}
.contact{
    display: grid;
    height: 100vh;
    grid-template-rows: 192px 1fr;
}
.projects{
    display: grid;
    height: 100vh;
    grid-template-rows: 192px 45px 1fr 35px;
}
.projectsSubHeading {
    font-size: 35px;
    color:#08fdd8;
    margin-top: -20px;
    margin-left: 10px;
}
.projectDetails{
    display: grid;
    width:max-content;
    height: 100%;
    grid-template-columns: 300px 300px 300px 300px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    padding: 8px;
    column-gap: 5px;
    row-gap: 5px;
    /* border: 2px solid #08fdd8;
    border-top-width: 5px; */
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}
.projectElement{
    background-color:rgba(0, 0, 0, 0.5);
    /* height: 300px; */
    height: 300px;
    z-index: 99;
    transition: .2s ;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.p1{
    background-image: url("PROJECTS/marvelous/DoctorStrange.jpg");
    background-size:150%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: 0.2s;
    /* background-position-y: center; */
}
.p2{
    background-image: url("words.jpg");
    background-size:200%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: 0.2s;

/*
    display: grid;
    justify-content: center;
    align-items: end; */
}
.p3{
    background-image: url("todo.jpg");
    background-size:150%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: 0.2s;
    /* background-position-y: center; */
}

.p4{
    background-image: url("Ficon3.png");
    background-size:135%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: 0.2s;
    background-position-y:top;
}

.p5{
    background-image: url("solar.png");
    background-size:135%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: 0.2s;
    background-position-y:top;
}
.p6{
    background-image: url("graphIcon.JPG");
    background-size:150%;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: 0.2s;
    background-position-y:top;
}
.p7,.p8,.p9,.p10,.p11,.p12{
    background-color: #00000000;
}
.p7:hover,.p8:hover,.p9:hover,.p10:hover,.p11:hover,.p12:hover{
    cursor:default;
}
.p2txt{
    font-family: 'Abril Fatface' ;
    color: black;
    text-align: center;
}
.uh, .lh{
    background-color: #00000000;
    width: 100%;
}


.p1:hover{
    background-size:100%;

}

.p2:hover{
    background-size:150%;

}

.p3:hover{
    background-size:100%;

}
.p4:hover{
     background-size:100%;
}
.p5:hover{
    background-size:100%;
}
.p6:hover{
    background-size:100%;
}
.projectElement:hover{

    cursor: pointer;
    background-blend-mode: multiply;
}
/* .p1, .p4, .p7, .p14{
    background-color: #08fdd8;
}
.p2, .p5, .p6, .p13{
    background-color: #EE1D52;
}
.p3, .p9 , .p11, .p15{
     background-color: #fd08f9;
}
.p8, .p10, .p12 {
    background-color: #00ff66;
} */

.over{
    display: flex;
    align-items:start;
    justify-content: center;
    opacity: 1;
    /* background-color:#00000000; */
    transition: 0.2s;
}
.overText{
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    width: 100%;
    height: 17%;
    background-color:whitesmoke;
    color: #1d1d1d;
    margin: 5px;
    margin-top: 0;
    /* border: 2px solid #3d3d3d; */
    transition: .2s;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;

}

.under{
    display: flex;
    align-items:end;
    justify-content: center;
    opacity: 0;
    /* background-color: #00000000; */
    transition: 0.2s;
}
.underText{
    text-align: center;
    width: 100%;
    height: 0%;
    background-color:whitesmoke;
    color: #1d1d1d;
    /* margin: 5px;
    margin-bottom: 0; */
    transition: .2s;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    padding: 15px 5px 0px 5px;

}

.projectElement:hover .under{
    opacity: 1;
     /* background-color: rgba(0, 0, 0, 0.5); */
}

.projectElement:hover .under .underText{
    height: 60%;
    box-shadow: 0px -5px 10px black;
}


.projectElement:hover .over{
    /* opacity: 0; */
    /* background-color: rgba(0, 0, 0, 0.5); */

     /* background-color: #08fdd870; */
}

.projectElement:hover .over .overText{
    height: 0%;
    opacity: 0;
}



@keyframes bounce {
    /* 25% {transform: scaleX(1.05) scaleY(0.97);}
    50% {transform: scaleX(1.2) scaleY(0.88);}
    70% {transform: scaleX(1.075) scaleY(0.94);}
    90% {transform: scaleX(1.2) scaleY(0.88);}
    100% {transform: scaleX(1.2) scaleY(0.88);} */


    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

}

.nameText.hover {
    display: inline-block;

    animation: bounce 1s ease-in-out  ;
    animation-fill-mode:both;
    transform: scaleX(1.2) scaleY(0.88);

}
.hi.hover{
    display: inline-block;
    animation: bounce 1s ease-in-out  ;
    animation-fill-mode:both;
    transform: scaleX(1.2) scaleY(0.88);
}


.nameText:hover{
    color: #08fdd8;
}

.hi:hover{
    color: #08fdd8;
}

#sub:hover{
    color: #EE1D52;
}

